<footer class="info">
    <p>Doble click para editar un TODO</p>
    <!-- Remove the below line ↓ -->
    <p>Creado por <a href="https://wwww.facebook.com/robertocarlos.pineda.355">RO Carlos Pineda</a></p>
    <!-- Change this out with your name and url ↓ -->
    <p>Perfil linkedin <a href="https://www.linkedin.com/in/roberto-carlos-pineda-tabarez-669761155/">Roberto Carlos Pineda</a></p>
    <p>Siguenos: <a href="https://wwww.facebook.com/ROESBoutiqueArtesanal">ROES Boutique Artesanal</a></p>
</footer>